<h2 class="py-8 text-2xl font-semibold leading-none">Step 2: Select your config and options</h2>
<form [formGroup]="configForm" class="grid grid-cols-1 gap-4 sm:grid-cols-3">
  <div>
    <label for="configSelect" class="block pb-2 font-semibold">Select config</label>
    <select
      id="configSelect"
      formControlName="config"
      class="block w-full rounded-md border border-gray-300 bg-white px-3 py-1.5 leading-5 focus:outline focus:outline-2 focus:-outline-offset-1 focus:outline-blue-500"
    >
      @for (config of options().configs; track config.id) {
        <option [ngValue]="config">{{ config.description }}</option>
      }
    </select>
  </div>

  @if (options().towHitch) {
    <div>
      <div class="pb-2 font-semibold">Tow hitch package</div>
      <div class="flex w-full gap-x-2">
        <input id="includeTow" type="checkbox" formControlName="towHitch" class="min-w-0 flex-initial" />
        <label for="includeTow" class="font-semibold">Tow hitch?</label>
      </div>
    </div>
  }

  @if (options().yoke) {
    <div>
      <div class="pb-2 font-semibold">Yoke steering reel package</div>
      <div class="flex w-full gap-x-2">
        <input id="includeYoke" type="checkbox" formControlName="yoke" class="min-w-0 flex-initial" />
        <label for="includeYoke" class="font-semibold">Yoke steering reel?</label>
      </div>
    </div>
  }
</form>

@if (configFormValues()?.config; as config) {
  <div class="py-4">
    <h3 class="text-lg font-semibold">Specification</h3>
    <div class="flex gap-4">
      <div class="flex gap-x-1">
        <div class="font-semibold">Range</div>
        <div>{{ config!.range }}</div>
      </div>
      <div class="flex gap-x-1">
        <div class="font-semibold">Speed</div>
        <div>{{ config!.speed }}</div>
      </div>
      <div class="flex gap-x-1">
        <div class="font-semibold">Price</div>
        <div>{{ config!.price | currency }}</div>
      </div>
    </div>
  </div>
}
