<h2 class="py-6 text-lg font-semibold leading-none">Step 1: Choose your model and molor</h2>
<form [formGroup]="form" class="flex gap-4">
  <div class="w-full">
    <label for="modelSelect" class="block pb-2 font-semibold">Choose model</label>
    <select
      id="modelSelect"
      formControlName="model"
      class="block w-full rounded-md border border-gray-300 bg-white px-3 py-1.5 leading-5 focus:outline focus:outline-2 focus:-outline-offset-1 focus:outline-blue-500"
    >
      @for (model of models(); track model.code) {
        <option [ngValue]="model">{{ model.description }}</option>
      }
    </select>
  </div>
  <div class="w-full">
    <label for="colorSelect" class="block pb-2 font-semibold">Choose color</label>
    <select
      id="colorSelect"
      formControlName="color"
      class="block w-full rounded-md bg-white px-3 py-1.5 ring-1 ring-gray-300"
    >
      @for (color of colors(); track color.code) {
        <option [ngValue]="color">{{ color.description }}</option>
      }
    </select>
  </div>
</form>
